.rectanguloFooter {
	background-color: $background-color_9;
	opacity: 0.80;
}

.findusYcopyright {
	background-color: $background-color_10;
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 700; 
	font-style: normal;
	text-align: center;
}

.copyright {
	.h4 {
		z-index: 3;
	}
}

.icon {
	margin: 10px;
	width: 30px;
	&:hover {
		scale: 1.1;
	}
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2,5rem;
}