$color_1: white;
$font-family_1: 'Poppins', sans-serif;
$background-color_1: #1f1f1f;
$background-color_2: rgba(5,7,12,0.90);

.rectanguloFooter {
	margin: 0;
	width: 100%;
	height: auto;
	background-color: $background-color_1;
	opacity: 0.80;
}
.mapResponsive {
	overflow: hidden;
	padding-bottom: 12%;
	position: relative;
	height: 0;
	width: 60%;
	margin: auto;
	iframe {
		height: 100%;
		width: 100%;
		position: absolute;
	}
}
.findusYcopyright {
	background-color: $background-color_2;
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 700;
	font-style: normal;
	text-align: center;
}
.icon {
	margin: 10px;
	width: 30px;
	&:hover {
		scale: 1.1;
	}
}