$color_1: white;
$font-family_1: 'Poppins', sans-serif;
$background-color_1: #1f1f1f;
$background-color_2: rgb(5,7,12);

.rectanguloFooter {
	background-color: $background-color_1;
	opacity: 0.80;
}

.findusYcopyright {
	background-color: $background-color_2;
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 700;
	font-style: normal;
	text-align: center;
}

.copyright {
	.h4 {
		z-index: 3;
	}
}

.icon {
	margin: 10px;
	width: 30px;
	&:hover {
		scale: 1.1;
	}
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2,5rem;
}