.headerPrincipal {
	font-family: $font-family_1;
	font-weight: 700;
	font-style: normal;
	margin: 0;
	padding: 0;
	background-color: $background-color_8;
	display: flex;
	justify-content: space-between;
	align-items: flex-start; 
	.logo {
		img {
			height: 90px;
			width: auto;
			cursor: pointer;
			margin: auto;
			padding: 10% 40%;
			&:hover {
				transform: scale(1.2);
				transition: 1s;
			}
		}
	}
}
.navEnlace {
	text-decoration: none;
	color: $color_2;
	&:hover {
		color: $color_4;
	}
}
header {
	nav {
		ul {
			li {
				height: auto;
				width: 100px;
				padding: 30px;
				display: inline-flex;
				justify-content: center;
				&:hover {
					transform: scale(0.95);
					color: $color_4;
				}
			}
		}
	}
}