/* MAIN */
$color_1: white;
    $font-family_1: 'Poppins', sans-serif;
$background-color_1: antiquewhite;
$background-color_2: rgba(5,7,12,0.40);
$color_6: #000000;
$color_7: #020405;
$background-color_3: rgb(253, 252, 252);
$background-color_4: rgba(0,0,0,0);
$color_2: black;
$color_5: whitesmoke;
    
    $font-family_2: 'Poppins', serif;
$background-color_5: rgba(5,7,12,0.40);
$background-color_6: antiquewhite;
$background-color_7: azure;

/* HEADER */

$color_2: black;
$color_3: aquamarine;
$color_4: grey;
    
$background-color_8: rgb(255, 255, 255);

/* FOOTER */

$background-color_9: #4e4e4e;
$background-color_10: rgb(5,7,12);
